/* #boardshowpg-pins {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
  gap: 20px;
} */

.pin-image {
  border-radius: 20px;
  max-width: 230px;
  width: auto;
  height: auto;
}
#total-pins {
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
}
.pin-name {
  font-weight: bold;
  margin-left: 4px;
  padding: 5px;
}
.pin-user {
  margin-left:7px;
  margin-top: 3px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
#pin-index-user {
  width: 30px;
  height: 30px;
  background-color: gainsboro;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pin-user > * {
  color: black;
}
.boardshowpg-pin > * {
  padding: 3px;
}

.pin-link {
  text-decoration: none;
  color: black;
}

.pin-image:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.masonry-grid {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  width: auto;
}
.masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}
.masonry-grid_column > div {
  margin-bottom: 30px;
}
