.form-logo {
  color: red;
  font-size: 40px;
  margin-top: 45px;
}
#signup-form > * {
  display: flex;
  flex-direction: column;
}
#signup-form > button {
  display: inline-block;
  border: 0px;
  border-radius: 20px;
  background-color: #e60023;
  color: white;
  font-size: 15px;
  width: 268px;
  height: 40px;
  padding: 11px 110px;
  margin: 15px 0px 0px;
  font-weight: bold;
  cursor: pointer;
}

#signnav-button {
  background-color: #efefef;
  color: black;
  width: 80.83px;
  height: 40px;
  border: 0px;
  border-radius: 24px;
  cursor: pointer;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
}

#signnav-button:hover {
  background-color: #e5e2e2;
}

#signup-form > label {
  padding: 5px;
}
#signup-form > label > input {
  margin-top: 10px;
}

#signup-form > ul {
  color: #cc0000;
  font-size: 12px;
}

#signup-form input {
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 16px;
  border: 2px solid rgb(177, 174, 174);
  width: 250px;
  height: 30px;
  font-size: 16px;
}
#signup-form h1 {
  padding: 20px;
}

#signup-form h2 {
  padding: 13px;
}

#signup-form-p {
  margin-top: 20px;
  font-size: 12px;
}

#signup-form-p #bold {
  font-weight: bold;
}