#splash-images > * {
  width: 100%;
  overflow: hidden;
}

#splash_img_4 {
  width: 100%;
  overflow: hidden;
}

.back-to-top {
  border: 0px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  left: 48.5%;
  top: 50px;
  background-color: rgb(156, 3, 67);
  color: white;
  cursor: pointer;
}

#splash-links > * {
  text-decoration: none;
  color: black;
}
#splash-links > *:hover {
  text-decoration: underline;
}
#splash-links {
  width: 99%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  align-items: center;
  background-color: white;
  position: absolute;
  bottom: 0px;
}

#splash-sign-up {
  border-radius: 32px;
  text-align: center;
  width: 450px;
  height: 600px;
  background-color: white;
  position: absolute;
  top: 13%;
  right: 5%;
}
#splash_img_4 {
  filter: brightness(50%);
}

#last-img {
  position: relative;
}
