#boards {
  margin-top: 20px;
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
}

#boards {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 16em));
}

.board {
  width: 252px;
  height: 231px;
  background-color: white;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 3px;
  text-decoration: none;
  color: black;
}

.board .board-images {
  margin-top: 12px;
  width: 230px;
  height: 157px;

  border-radius: 30px;
  display: grid;
  grid-template-columns: auto auto;
  background-color: gainsboro;
  overflow: hidden;
  box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 10%);
}

.board-images > * {
  width: 120px;
  height: 80px;
  background-color: gainsboro;
}
.board-images > * > * {
  max-height: 250%;
  width: auto;
  object-fit: contain;
}
#boardimage1 {
  height: 157px;
  grid-row: 1 / 3;
}

.board .board-name {
  font-size: 20px;
  font-weight: bold;
}

.board-div > * {
  padding: 2px;
}
