#boards {
  margin-top: 20px;
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;

}

.board {
  width: 252px;
  height: 231px;
  background-color: white;
  display: flex;
  justify-content: center;
  justify-items: center;
  border: 1px solid black;
  margin-top: 3px;

  text-decoration: none;
  color: black;
}

.board .board-images {
    margin-top: 12px;
    width:230px; 
    height: 157px;
    border: 1px solid black;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto auto
}

.board .board-images > *{
  border: 1px  solid black;
}

#img-1 {
  grid-row: 1 / 3;
 
}

.board .board-name{
  font-size: 20px;
  font-weight: bold;
}

.board-div > *{
  padding: 2px
}

