#pin-show-page {
  margin-top: 10px;
  /* margin-left: 10%; */
  margin: auto;
  max-width: 60%;
  max-height: auto;
  /* max-height: 550px; */
  position: relative;
  top: 100px;
  display: flex;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 50%);
}

#pin-show-page img {
  min-width: 40%;
  /* max-width: 100%; */
  height: auto;
}

#pin-show-page-left {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 40px;
  width: 90%;
}

#pin-show-page-left > * {
  padding: 10px;
}

#pin-show-page-pin-title {
  font-weight: bold;
  font-size: 36px;
}

#pin-show-page-pin-description {
  margin-top: 15px;
  font-size: 20px;
}

#pin-show-page-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

#pin-show-page-user > * {
  font-size: 16px;
}

#pin-show-page-user-img {
  width: 32px;
  height: 32px;
  background-color: lavender;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

#comment-count {
  margin-top: 7px;
  font-weight: bold;
  font-size: 20px;
}

.no-comments {
  color: grey;
}
