#profile-button {
  color: black;
  height: 48px;
  width: 48px;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Right-Login-Navbar-buttons {
  border-radius: 100%;
  height: 48px;
  width: 48px;
  border: 0px;
  color: grey;
  background-color: transparent;
  cursor: pointer;
}

.Right-Login-Navbar-buttons .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: fixed;
  display: inline;
  top: 70px;
  text-align: center;
}

.Right-Login-Navbar-buttons:hover .tooltiptext {
  visibility: visible;
}

.Right-Login-Navbar-buttons:hover {
  background-color: #e5e2e2;
}

.Right-Login-Navbar-buttons i {
  position: relative;
  font-size: 25px;
}

#search-icon {
  position: relative;
  left: 23px;
  z-index: 1;
  color: grey;
}
#search-bar {
  position: relative;
  right: 30px;
  width: 50vw;
  height: 48px;
  border-radius: 30px;
  background-color: #efefef;
  border: 0px;
  margin: 0 auto;
  padding-left: 50px;
}

#search-bar:hover {
  background-color: #e5e2e2;
}
#search-bar:focus {
  outline-color: #47a0f4;
}

/* ALL NAVBARS */
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

#navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

#navbar-left {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
}

#navbar-left > .NavLinkText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  height: 48px;
  min-width: 60px;
  background-color: transparent;
  border-radius: 24px;
  cursor: pointer;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: red;
  font-size: 24px;
  width: 44px;
  border-radius: 100%;
  background-color: transparent;
  margin-left: 16px;
  font-weight: bold;
}
.logo i {
  position: relative;
  right: -10px;
}
#logo:hover {
  background-color: #e5e2e2;
}
#navbar-left > .NavLinkText:hover {
  background-color: black;
  color: white;
}

/* SIGN UP NAVBAR */

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  padding: 8px;
}
#navbar ul:last-child {
  margin-right: 16px;
}

#navbar li a:hover {
  text-decoration: underline;
}

/* DropDown menu */

#dropdown-button i {
  font-size: 13px;
}
#dropdown-button {
  border-radius: 100%;
  width: 24px;
  height: 24px;
  border: 0px;
  margin-right: 20px;
}

#dropdown-button:hover {
  background-color: #e5e2e2;
}

#dropdown-personal-info {
  display: flex;
  gap: 10px;
}
#dm-personal-info-initial {
  background-color: #e5e2e2;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 30px;
  margin-top: 3px;
}

#dm-personal-info-text :first-child {
  font-weight: bold;
  padding-bottom: 5px;
}

#dm-personal-info-text :not(:first-child) {
  color: grey;
}
#dm-personal-info-text > * {
  padding: 2px;
}

#dropdown-personal-info:hover {
  background-color: #e5e2e2;
}
.dropdown-menu {
  z-index: 10;
  position: absolute;
  top: 100px;
  right: 10px;
  background-color: white;
  box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 20%);
  width: 360px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 210px;
}
.dropdown-menu > * {
  padding: 8px;
}
.dropdown-menu :nth-child(3) {
  margin-top: 3px;
}
#dropdown-personal-info {
  font-size: 16px;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.dropdown-menu .dropmenusmallfont {
  font-size: 12px;
  margin-top: 10px;
}

#logout-button {
  background-color: transparent;
  border: 0px;
  width: 340px;
  font-size: 16px;
  border-radius: 15px;
  text-align: left;
  height: 25px;
  font-weight: bold;
  padding-left: 10px;
}
#logout-button:hover {
  background-color: #e5e2e2;
}

#navbar {
  position: sticky;
  top: 0px;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.129);
  z-index: 1;
}
