#dropdown-button {
  border-radius: 100%;
  width: 24px;
  height: 24px;
  border: 0px;
  margin-right: 20px;
} 
#dropdown-button:hover {
    background-color: #e5e2e2;
} 

.dropdown-menu{
    z-index: 10;
    position:absolute;
    top: 100px;
    right: 10px;
    background-color: white;
    box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 20%);
    width: 360px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
.dropdown-menu > *{
    padding: 8px;
}
#dropdown-personal-info{
    font-size: 16px;
}
.dropdown-menu .dropmenusmallfont{
    font-size:12px;
}

#profile-button{
    color:black;
    height: 48px; 
    width: 48px;
}

.Right-Login-Navbar-buttons{
    border-radius: 100%;
    height: 48px;
    width: 48px;
    border: 0px;
    color: grey;
    background-color: transparent;
}

.Right-Login-Navbar-buttons .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    
    position: fixed;
    display: inline;
    top:70px;
    text-align: center;
  }

 .Right-Login-Navbar-buttons:hover .tooltiptext {
    visibility: visible; 
  }
  
.Right-Login-Navbar-buttons:hover{
    background-color: #e5e2e2;
  }

.Right-Login-Navbar-buttons i{
    position: relative;
    font-size: 25px;
}

#search-icon {
    position: relative;
    left: 23px;
    z-index: 1;
    color:grey
}
#search-bar {
    position: relative;
    right: 30px;
    width: 50vw;
    height: 48px;
    border-radius: 30px;
    background-color: #EFEFEF ;
    border: 0px;
    margin: 0 auto;
    padding-left: 50px;
}

#search-bar:hover{
    background-color: #e5e2e2; ;
} 
#search-bar:focus{
    outline-color: #47a0f4 ;
} 

#profile-button {
    font-size: 12px;
}

#dropdown-button {
    border-radius: 100%;
    width: 24px;
    height: 24px;
    border: 0px;
}

#dropdown-button i{
    position: relative;
    right: 11px;
    font-size: 13px;
}
/* ALL NAVBARS */
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:15px;
    
   
}

#navbar-left {
    display: flex;
    flex-direction: row;
    gap:15px;
    justify-content: space-between;
}

#navbar-left > .NavLinkText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black; 
    height: 48px;
    min-width: 60px;
    background-color: transparent;
    border-radius: 24px;
    cursor: pointer;
    font-weight: bold;
}
#logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:red;
    font-size: 24px;
    width: 44px;
    border-radius: 100%;
    background-color: transparent;
    
}
#logo:hover {
    background-color: #e5e2e2;
}
#navbar-left > .NavLinkText:hover{
    background-color: black;
    color: white
    
}


/* SIGN UP NAVBAR */

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 8px;
}
#navbar ul:last-child{
  margin-right: 16px;
}

#navbar :first-child{
    margin-left: 10px;
  }
  
#navbar li a:hover{
    text-decoration: underline;
}

