#login-form > * {
    display: flex;
    flex-direction: column;
    font-family: Segoe UI;

} 

#login-form input {
    margin: 0 auto;
    padding: 8px 16px;
    border-radius: 16px;
    border: 2px solid rgb(177, 174, 174);
    width: 250px;
    height: 30px;
    font-size: 16px;
}

#login-form label {
    font: 14px;
    padding: 5px;
}

#login-form h1{
    padding: 0px 16px;
    margin-top: 100px;
}

#login-form > #login-button {
    display: inline-block;
    border: 0px;
    border-radius: 20px;
    background-color: #E60023;
    color: white;
    font-size: 15px;
    width: 268px;
    height: 40px;
    padding: 11px 110px;
    margin: 15px 0px 0px;
    font-weight: bold;
    cursor: pointer;
}
#demo-button {
    display: inline-block;
    border: 0px;
    border-radius: 20px;
    background-color: #1877F2;
    color: white;
    font-size: 15px;
    width: 268px;
    height: 40px;
    padding: 11px 59px;
  
    font-weight: bold;
    cursor: pointer;
}
#lognav-button{
    background-color: #E60023;
    color: white;
    width: 68.94px;
    height: 40px;
    border: 0px;
    border-radius: 24px;
    cursor: pointer;
    font-size: 100%;
    font-weight: bold;
}

#login-form h2{
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#login-form > label > input{
    margin-top: 10px;
}


#login-form > ul {
    color: #CC0000;
    font-size: 12px;
}